@model HeadsofStudentSquads.ViewModels.AllMembersViewModel
@{
    ViewBag.Title = "Squad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Squad.Name</h2>
<ul>
@foreach (var member in Model.Members)
{
    <li>@member.ExitReason</li>
}
</ul>

